@charset "UTF-8";

* {
	/*초기화*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'GmarketSansLight';
}

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

form#member_input {
	width: 60%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

fieldset {
	border-radius: 5px;
}

img {
	margin-top: 10px;
	width: 10%;
	height: 10%;
}

fieldset div input {
	margin-left: 5px;
}

fieldset div {
	text-align: left;
}

div#main_title {
	font-weight: bold;
	font-size: 40px;
}

legend {
	background-color: #91c788;
	font-size: 20px;
	color: white;
	padding: 10px 80px;
	border-radius: 3px;
}

label, input {
	display: inline-block;
	margin: 5px;
	padding: 8px;
}

label {
	font-weight: bold;
	width: 10%;
	text-align: left;
	margin-left: 30%;
}

input {
	width: 25%;
	font-size: 10px;
}

input.m_gender {
	width: 2%;
}

div.btn_box {
	border: 1px solid black;
	text-align: right;
	padding: 10px 10px;
}

div.join.error.view {
	background-color: gray;
	color: white;
}