@charset "UTF-8";

.content {
	min-height: calc(100vh - 30px);
}

.notice {
	padding: 150px;
}

.title {
	display: flex;
}

.title button {
	margin-left: auto;
}

.notice p {
	font-size: 25px;
	font-weight: bold;
}

.list {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	margin: 20px 10px;
	width: 100%;
}

.list th {
	background-color: #e1e1e1;
	text-align: center;
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.list th:nth-child(2) {
	width: 50%;
}

.list tr#highlight:hover {
	cursor: pointer;
	font-weight: 900;
	background-color: rgba(145, 199, 136, 0.3);
}

.list td {
	text-align: center;
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.tolist {
	margin-right: 135px;
	float: right;
}
.no_result {
	text-align: center;
	margin: 20px;
}